@font-face {
    font-family: 'whatever it takes.ttf';
    src: url('../fonts/whatever it takes.ttf');
}

body {
    margin: 50px auto;
}

#impo {
    -moz-transform: rotateZ(-8deg);
    -ms-transform: rotateZ(-8deg);
    -o-transform: rotateZ(-8deg);
    -webkit-transform: rotateZ(-8deg);
    transform: rotateZ(-8deg);
    left: 150px;
}

#rem {
    -moz-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    left: 200px;
}

#note {
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
    left: 170px;
}

    #note:hover {
        -moz-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        left: 50px;
        z-index: 10;
    }
    #rem:hover {
        -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        left: 250px;
        z-index: 9;
    }
    #impo:hover {
        -moz-transform: rotateZ(-3deg);
        -ms-transform: rotateZ(-3deg);
        -o-transform: rotateZ(-3deg);
        -webkit-transform: rotateZ(-3deg);
        transform: rotateZ(-3deg);
        left: 50px;
        z-index: 11;
    }

footer {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 600px;
    left: 50px;
    right: auto;
}
footer a{
    width:100%;
    height: 100%;
    border-radius: 10px;
    font-size: 3em;
    background-color: #000000;
    box-shadow:  rgb(0, 0, 0);
    text-decoration:none;
    color: white;
}

.postit {
    padding: 10px;
    position: relative;
    font-family: 'whatever it takes.ttf';
    width: 200px;
    height: 100px;
    background-color: #d9d988;
    box-shadow: rgba(23, 20, 20, 0.4) 10px 10px;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

    .postit h3 {
        text-align: center;
        font-size: 3em;
        margin: 5px auto;
    }

.hidden {
    text-align: center;
    margin: 5px auto;
    font-size: 2em;
    height: 100px;
    width: 250px;
    display: block;
    opacity: 0;
    -moz-transition: opacity ease-in 1.5s;
    -o-transition: opacity ease-in 1.5s;
    -webkit-transition: opacity ease-in 1.5s;
    transition: opacity ease-in 1.5s;
    transition: opacity ease-out 0.1s;
}
.postit:hover{
    width: 250px;
    height: 260px;
    background-color: #ffd800;
    overflow:hidden;
}
.postit:hover .hidden {
    opacity: 1;
}
@media only screen and (max-width: 480px) {
    .postit{
        position:relative;
        left: 20px !important;
        right:auto !important;
        top: 20px !important;
        bottom:auto!important;
    }
}